

<div class="row">

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"> {{graficos.grafico1.leyenda}}</h3>
          <app-grafica-dona [data]="graficos.grafico1" ></app-grafica-dona>
  
            
      </div>
    </div>
  </div>


  <div class="col-6">
      <div class="card">
        <div class="card-body">
            <h3 class="card-title"> {{graficos.grafico2.leyenda}}</h3>
          <app-grafica-dona [data]="graficos.grafico2" ></app-grafica-dona>
              
        </div>
      </div>
    </div>


</div>

<div class="row">

    <div class="col-6">
      <div class="card">
        <div class="card-body">
            <h3 class="card-title"> {{graficos.grafico3.leyenda}}</h3>
            <app-grafica-dona [data]="graficos.grafico3" ></app-grafica-dona>
    
              
        </div>
      </div>
    </div>
  
  
    <div class="col-6">
        <div class="card">
          <div class="card-body">
              <h3 class="card-title"> {{graficos.grafico4.leyenda}}</h3>
            <app-grafica-dona [data]="graficos.grafico4" ></app-grafica-dona>
                
          </div>
        </div>
      </div>
  
  
  </div>
  
